{{- if or .Values.secrets.licenseKey .Values.secrets.auth0Domain .Values.secrets.auth0ClientId .Values.secrets.auth0ClientSecret .Values.secrets.postgresPassword }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "cortexdx.fullname" . }}-secrets
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "cortexdx.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- if .Values.secrets.licenseKey }}
  license-key: {{ .Values.secrets.licenseKey | quote }}
  {{- end }}
  {{- if .Values.secrets.auth0Domain }}
  auth0-domain: {{ .Values.secrets.auth0Domain | quote }}
  {{- end }}
  {{- if .Values.secrets.auth0ClientId }}
  auth0-client-id: {{ .Values.secrets.auth0ClientId | quote }}
  {{- end }}
  {{- if .Values.secrets.auth0ClientSecret }}
  auth0-client-secret: {{ .Values.secrets.auth0ClientSecret | quote }}
  {{- end }}
  {{- if .Values.secrets.postgresPassword }}
  postgres-password: {{ .Values.secrets.postgresPassword | quote }}
  {{- end }}
{{- end }}
